---
- name: Setup container repositories
  stackhpc.pulp.container_repositories:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    repositories: "{{ pulp_repository_container_repos | map('dict2items') | map('selectattr', 'key', 'in', ['name', 'description', 'state']) | map('items2dict') | list }}"
    concurrency: "{{ pulp_repository_concurrency }}"
  register: pulp_repository_container_repositories
  until: "not ((pulp_repository_container_repositories | default({})).get('repositories', []) | selectattr('failed') | list)"
  retries: "{{ pulp_repository_container_repositories_retries }}"
  delay: 1

- set_fact:
    container_remotes_list: []
  no_log: true

  # When state is absent, having values as None fails with a type error
  # (even though it doesn't mattter because it's getting deleted)
  # Hence the rejectattr('value', 'none')
- set_fact:
    container_remotes_list: "{{ container_remotes_list + [{
      'name': item.name + '-remote',
      'upstream_name': item.get('upstream_name', item.name),
      'url': item.get('url'),
      'ca_cert': item.get('ca_cert'),
      'client_cert': item.get('client_cert'),
      'client_key': item.get('client_key'),
      'download_concurrency': item.get('download_concurrency'),
      'exclude_tags': item.get('exclude_tags'),
      'include_tags': item.get('include_tags'),
      'policy': item.get('policy'),
      'proxy_url': item.get('proxy_url'),
      'proxy_username': item.get('proxy_username'),
      'proxy_password': item.get('proxy_password'),
      'remote_username': item.get('remote_username'),
      'remote_password': item.get('remote_password'),
      'tls_validation': item.get('tls_validation'),
      'state': item.get('state') } | dict2items | rejectattr('value', 'none') | items2dict ] }}"
  loop: "{{ (pulp_repository_container_repos | selectattr('state', 'equalto', 'absent') + pulp_repository_container_repos | selectattr('url', 'defined')) | unique }}"
  loop_control:
    loop_var: item
  no_log: true

- name: Setup container remotes
  stackhpc.pulp.container_remotes:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    remotes: "{{ container_remotes_list }}"
    concurrency: "{{ pulp_repository_concurrency }}"
  register: pulp_repository_container_remotes
  until: "not ((pulp_repository_container_remotes | default({})).get('remotes', []) | selectattr('failed') | list)"
  retries: "{{ pulp_repository_container_remotes_retries }}"
  delay: 1

- set_fact:
    container_syncs_list: []
  no_log: true

- set_fact:
    container_syncs_list: "{{ container_syncs_list + [{'repository': item.name, 'remote': item.name + '-remote'}] }}"
  loop: "{{ pulp_repository_container_repos | selectattr('url', 'defined') | selectattr('state', 'equalto', 'present') }}"
  loop_control:
    loop_var: item
  no_log: true

- name: Sync container remotes into repositories
  stackhpc.pulp.container_syncs:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    syncs: "{{ container_syncs_list }}"
    concurrency: "{{ pulp_repository_concurrency }}"
  register: pulp_repository_container_repos_sync
  until: "not ((pulp_repository_container_repos_sync | default({})).get('syncs', []) | selectattr('failed') | list)"
  retries: "{{ pulp_repository_container_repos_sync_retries }}"
  delay: 1
