---
- name: Get destination repository href
  pulp.squeezer.api_call:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    operation_id: "{{ 'repositories_container_container_push_list' if content_item.is_push | default(false) else 'repositories_container_container_list' }}"
    parameters:
      name: "{{ content_item.repository }}"
  register: dest_repo_result

- name: Fail if destination repository not found
  fail:
    msg: "Destination repository '{{ content_item.repository }}' not found."
  when: dest_repo_result.response.count == 0

- name: Set destination repo href
  set_fact:
    dest_repo_href: "{{ dest_repo_result.response.results[0].pulp_href }}"

- name: Get source repository info
  pulp.squeezer.api_call:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    operation_id: "{{ 'repositories_container_container_push_list' if content_item.src_is_push | default(false) else 'repositories_container_container_list' }}"
    parameters:
      name: "{{ content_item.src_repo }}"
  register: src_repo_result
  when:
    - content_item.state | default('present') == 'present'
    - content_item.src_repo is defined

- name: Fail if source repository not found
  fail:
    msg: "Source repository '{{ content_item.src_repo }}' not found."
  when:
    - content_item.state | default('present') == 'present'
    - content_item.src_repo is defined
    - src_repo_result.response.count == 0

- name: Determine reference repository version
  set_fact:
    ref_repo_version: >-
      {% if content_item.state | default('present') == 'present' %}
        {{ src_repo_result.response.results[0].latest_version_href }}
      {% else %}
        {{ dest_repo_result.response.results[0].latest_version_href }}
      {% endif %}
  when:
    - content_item.state | default('present') != 'present' or content_item.src_repo is defined

- name: Resolve tags
  block:
    - name: List tags from reference repository
      pulp.squeezer.api_call:
        pulp_url: "{{ pulp_url }}"
        username: "{{ pulp_username }}"
        password: "{{ pulp_password }}"
        validate_certs: "{{ pulp_validate_certs | bool }}"
        operation_id: content_container_tags_list
        parameters:
          name__in: "{{ content_item.tags }}"
          repository_version: "{{ ref_repo_version }}"
      register: tags_result

    - name: Check for missing tags
      vars:
        found_tags: "{{ tags_result.response.results | map(attribute='name') | list }}"
        missing_tags: "{{ content_item.tags | difference(found_tags) }}"
      fail:
        msg: "Some tags not found in source repository: {{ missing_tags | join(', ') }}"
      when:
        - content_item.state | default('present') in ['present', 'read']
        - not content_item.allow_missing | default(false)
        - missing_tags | length > 0

    - name: Set content units to process
      set_fact:
        content_units: "{{ tags_result.response.results | map(attribute='pulp_href') | list }}"
  when: ref_repo_version is defined

- name: Add content to repository
  pulp.squeezer.api_call:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    operation_id: repositories_container_container_add
    parameters:
      container_container_repository_href: "{{ dest_repo_href }}"
    body:
      content_units: "{{ content_units }}"
  register: add_result
  when:
    - content_item.state | default('present') == 'present'
    - content_units | length > 0
  changed_when: true

- name: Remove content from repository
  pulp.squeezer.api_call:
    pulp_url: "{{ pulp_url }}"
    username: "{{ pulp_username }}"
    password: "{{ pulp_password }}"
    validate_certs: "{{ pulp_validate_certs | bool }}"
    operation_id: repositories_container_container_remove
    parameters:
      container_container_repository_href: "{{ dest_repo_href }}"
    body:
      content_units: "{{ content_units }}"
  register: remove_result
  when:
    - content_item.state | default('present') == 'absent'
    - content_units | length > 0
  changed_when: true

- name: Register active tasks
  set_fact:
    pulp_container_active_tasks: "{{ pulp_container_active_tasks + [item.response.pulp_href] }}"
  loop: "{{ [add_result, remove_result] }}"
  when:
    - item is defined
    - item.changed | default(false)
    - item.response.pulp_href is defined
