name: Tests

# Controls when the action will run.
'on':
  pull_request:
  push:
    branches:
      - master
env:
  ANSIBLE_FORCE_COLOR: true

jobs:
  integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pulp:
          - "3.45"
          - "3.81"
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE, so it's accessible to the job
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible==13.* jmespath pulp-glue==0.33.* pulp-glue-deb==0.3.*
          ansible-galaxy collection install git+file://$(pwd)

      - name: Run Pulp in one
        run: |
          tests/pulp-in-one.sh
        env:
          PULP_TAG: ${{ matrix.pulp }}

      # TODO: Use ansible-test to run these.
      - name: Running integration tests
        run: |
          ansible-playbook -v tests/*.yml
